<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml이 위치한 곳, 파일명 포함 -->
<mapper
	namespace="com.sb.eaccBatch.mapper.ex.kwichub.KwichubServiceMapper">

	<!-- 법인카드정보 조회 -->
	<select id="searchKwichubCardBasic" resultType="HashMap">
		SELECT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.searchKwichubCardBasic]
		*/
		HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		CLASS,
		CORPNAME,
		CORPBIZNO,
		CORPNO,
		ESTBNO,
		CUSTNO,
		CARDBRAND,
		LOCALBRAND,
		CARDTYPE1,
		CARDTYPE2,
		CARDTYPE3,
		CARDTYPE4,
		COOPCODE,
		COOPNAME,
		CARDNO,
		KORNAME,
		ENGNAME,
		REGISNO,
		VALIDITY,
		POSTCODE,
		POSTNAME,
		MEMBZIPCODE,
		MEMBADDR1,
		MEMBADDR2,
		SETTTYPE,
		SETTDATE,
		SETTBANKCODE,
		SETTACCTNO,
		MEMBTEL,
		NOTICETYPE,
		ISSUEDATE,
		TMNTDATE,
		PAUSEDATE,
		BEFORECARD,
		ORGNNAME,
		ORGNCODE,
		ESTBNAME,
		USERNO,
		USERNAME,
		CARDINI,
		INSERT_TIME,
		REGR_DH
		FROM
		KWICHUB_CARD_BASIC
		ORDER BY HUB_IF_KEY;
	</select>

	<!-- 법인카드승인내역 조회 -->
	<select id="searchKwichubCardApproval" resultType="HashMap">
		SELECT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.searchKwichubCardApproval]
		*/
		HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		CLASS,
		CARDNO,
		APPRNO,
		TRANSDATE,
		TRANSTIME,
		CARDTYPE1,
		CARDTYPE2,
		CURRCODE,
		APPRAMT,
		VAT,
		TIPS,
		APPRTOT,
		APPREXCH,
		USDAPPRTOT,
		INSTTYPE,
		INSTMONTH,
		ABROAD,
		SLIPNO,
		TERMINALNO,
		PURCH,
		ACQUISSUER,
		MERCHBIZNO,
		MERCHNO,
		MERCHNAME,
		MASTER,
		MERCHTEL,
		MERCHZIPCODE,
		MERCHADDR1,
		MERCHADDR2,
		MERCHSTATUS,
		MCCNAME,
		MCCCODE,
		PARTAPPRCANCYN,
		SERVTYPEYN,
		COLLNO,
		TAXTYPE,
		MERCHCESSDATE,
		ORGINTRANSDATE,
		ORGINAPPRNO,
		ORGINTRANSTIME,
		ORIGINMERCHNAME,
		ORIGINMERCHBIZNO,
		NTSDATE,
		CARDINI,
		INSERT_TIME,
		REGR_DH,
		REGR_ID,
		REGR_NM
		FROM KWICHUB_CARD_APPROVAL
		ORDER BY HUB_IF_KEY;
	</select>

	<!-- 법인카드매입내역 조회 -->
	<select id="searchKwichubCardAcquire" resultType="HashMap">
		SELECT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.insertKwichubCardAcquire]
		*/
		HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		CLASS,
		CARDNO,
		APPRNO,
		COLLNO,
		SLIPNO,
		APPRDATE,
		PURCHDATE,
		PURCHTIME,
		CURRCODE,
		APPRTOT,
		ACQUTOT,
		ACQUEXCH,
		USDACQUTOT,
		CONVFEE,
		PURCHTOT,
		INSTTYPE,
		SETTDATE,
		ABROAD,
		PURCHYN,
		MERCHBIZNO,
		MERCHNO,
		MERCHNAME,
		MASTER,
		MERCHTEL,
		MERCHZIPCODE,
		MERCHADDR1,
		MERCHADDR2,
		MCCNAME,
		MCCCODE,
		PARTACQUCANCYN,
		NONEAPPRYN,
		SERVTYPEYN,
		ORGINCOLLNO,
		DISCAMT,
		CURRACQUTOT,
		ACQUFEE,
		APPRAMT,
		VAT,
		TIPS,
		ORIGINMERCHNAME,
		ORIGINMERCHBIZNO,
		TAXTYPE,
		MERCHCESSDATE,
		NTSDATE,
		CARDINI,
		INSERT_TIME,
		REGR_DH,
		REGR_ID,
		REGR_NM
		FROM
		KWICHUB_CARD_ACQUIRE
		ORDER BY HUB_IF_KEY;
	</select>

	<!-- 법인카드청구내역 조회 -->
	<select id="searchKwichubCardBill" resultType="HashMap">
		SELECT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.searchKwichubCardBill]
		*/
		HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		CLASS,
		BILTYPE,
		CORPBIZNO,
		CORPNO,
		ESTBNO,
		CARDNO,
		APPRNO,
		SLIPNO,
		COLLNO,
		ORGNAPPRDATE,
		BILWORKDATE,
		BILAMT,
		BILFEE,
		MEMBSHIPFEE,
		ACQUEXCH,
		USDACQUTOT,
		CONVFEE,
		BILTOT,
		INSTTYPE,
		INSTMONTH,
		RESTINSTMONTH,
		SETTDATE,
		MERCHBIZNO,
		MERCHNAME,
		SERVTYPEYN,
		DISCAMT,
		ESTBNAME,
		USERNO,
		USERNAME,
		ORGNAPPRTOT,
		ORGINTRANSTIME,
		ORIGINMERCHNAME,
		ORIGINMERCHBIZNO,
		TAXTYPE,
		MERCHCESSDATE,
		NTSDATE,
		CARDINI,
		INSERT_TIME,
		REGR_DH,
		REGR_ID,
		REGR_NM
		FROM
		KWICHUB_CARD_BILL
		ORDER BY HUB_IF_KEY;
	</select>

	<!-- 홈텍스매출매입정보 조회 -->
	<select id="searchKwichubeTax" resultType="HashMap">
		SELECT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.insertKwichubetax]
		*/
		HUB_IF_KEY,
		SEQ_ROWNUM,
		LISTGUBUN,
		WRITEDATE,
		APPNUMBER,
		PUBDATE,
		TRANSDATE,
		REGNUM1,
		REGNUM2,
		COMNAME,
		PRENAME,
		ADDRESS,
		REGNUM3,
		REGNUM4,
		COMNAME2,
		PRENAME2,
		ADDRESS2,
		SUM,
		SUPPLY,
		TAX,
		SORT,
		KIND,
		TYPE,
		BIGO,
		DIV1,
		EMAIL1,
		EMAIL2,
		EMAIL3,
		GIVEREGNUM,
		GIVEREGNAME,
		ITEMDATE,
		ITEMNAME,
		ITEMST,
		ITEMNUM,
		ITEMCOST,
		ITEMSUP,
		ITEMTAX,
		ITEMNOTE,
		REGR_DH,
		REGR_ID,
		REGR_NM
		FROM
		KWICHUB_ETAX
		ORDER BY HUB_IF_KEY;
	</select>



	<!-- 법인카드정보 삽입 -->
	<insert id="insertKwichubCardBasic">
		<selectKey resultType="int" keyProperty="HUB_IF_KEY"
			order="BEFORE">
			SELECT LASTVAL(HUB_IF_SEQ);
		</selectKey>

		INSERT /*
		[com.ec.eframework.mapper.ex.kwichub.KwichubServiceMapper.insertKwichubCardBasic]
		*/
		INTO KWICHUB_CARD_BASIC
		( HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		CLASS,
		CORPNAME,
		CORPBIZNO,
		CORPNO,
		ESTBNO,
		CUSTNO,
		CARDBRAND,
		LOCALBRAND,
		CARDTYPE1,
		CARDTYPE2,
		CARDTYPE3,
		CARDTYPE4,
		COOPCODE,
		COOPNAME,
		CARDNO,
		KORNAME,
		ENGNAME,
		REGISTNO,
		VALIDITY,
		POSTCODE,
		POSTNAME,
		MEMBZIPCODE,
		MEMBADDR1,
		MEMBADDR2,
		SETTTYPE,
		SETTDATE,
		SETTBANKCODE,
		SETTACCTNO,
		MEMBTEL,
		NOTICETYPE,
		ISSUEDATE,
		TMNTDATE,
		PAUSEDATE,
		BEFORECARD,
		ORGNNAME,
		ORGNCODE,
		ESTBNAME,
		USERNO,
		USERNAME,
		CARDINI,
		INSERT_TIME,
		REGR_DH,
		REGR_ID,
		REGR_NM
		) VALUES (
		#{HUB_IF_KEY},
		#{SEQ_ROWNUM},
		#{COMPANY_ID},
		#{SEND_DATE},
		#{SEQ_NO},
		#{Class},
		#{CorpName},
		#{CorpBizNo},
		#{CorpNo},
		#{EstbNo},
		#{CustNo},
		#{CardBrand},
		#{LocalBrand},
		#{CardType1},
		#{CardType2},
		#{CardType3},
		#{CardType4},
		#{CoopCode},
		#{CoopName},
		#{CardNo},
		#{KorName},
		#{EngName},
		#{RegisNo},
		#{Validity},
		#{PostCode},
		#{PostName},
		#{MembZipcode},
		#{MembAddr1},
		#{MembAddr2},
		#{SettType},
		#{SettDate},
		#{SettBankCode},
		#{SettAcctNo},
		#{MembTel},
		#{NoticeType},
		#{IssueDate},
		#{TmntDate},
		#{PauseDate},
		#{BeforeCard},
		#{OrgnName},
		#{OrgnCode},
		#{EstbName},
		#{UserNo},
		#{UserName},
		#{CardIni},
		#{insert_time},
		REGR_DH(),
		#{REGR_ID},
		#{REGR_NM}
		);
	</insert>

	<!-- 법인카드승인내역 삽입 -->
	<insert id="insertKwichubCardApproval">
		<selectKey resultType="int" keyProperty="HUB_IF_KEY"
			order="BEFORE">
			SELECT LASTVAL(HUB_IF_SEQ);
		</selectKey>

		INSERT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.insertKwichubCardApproval][]
		*/
		INTO KWICHUB_CARD_APPROVAL
		( HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		Class,
		CardNo,
		ApprNo,
		TransDate,
		TransTime,
		CardType1,
		CardType2,
		CurrCode,
		ApprAmt,
		VAT,
		Tips,
		ApprTot,
		ApprExch,
		USDApprTot,
		InstType,
		InstMonth,
		Abroad,
		SlipNo,
		TerminalNo,
		Purch,
		AcquIssuer,
		MerchBizNo,
		MerchNo,
		MerchName,
		Master,
		MerchTel,
		MerchZipcode,
		MerchAddr1,
		MerchAddr2,
		MerchStatus,
		MCCName,
		MCCCode,
		PartApprCancYN,
		ServTypeYN,
		CollNo,
		TaxType,
		MerchCessDate,
		OrginTransDate,
		OrginApprNo,
		OrginTransTime,
		OriginMerchName,
		OriginMerchBizNo,
		ntsdate,
		CardIni,
		insert_time,
		REGR_DH,
		REGR_ID,
		REGR_NM
		) VALUES (
		#{HUB_IF_KEY},
		#{SEQ_ROWNUM},
		#{COMPANY_ID},
		#{SEND_DATE},
		#{SEQ_NO},
		#{Class},
		#{CardNo},
		#{ApprNo},
		#{TransDate},
		#{TransTime},
		#{CardType1},
		#{CardType2},
		#{CurrCode},
		#{ApprAmt},
		#{VAT},
		#{Tips},
		#{ApprTot},
		#{ApprExch},
		#{USDApprTot},
		#{InstType},
		#{InstMonth},
		#{Abroad},
		#{SlipNo},
		#{TerminalNo},
		#{Purch},
		#{Acqulssuer},
		#{MerchBizNo},
		#{MerchNo},
		#{MerchName},
		#{Master},
		#{MerchTel},
		#{MerchZipcode},
		#{MerchAddr1},
		#{MerchAddr2},
		#{MerchStatus},
		#{MCCName},
		#{MCCCode},
		#{PartApprCancYN},
		#{ServTypeYN},
		#{CollNo},
		#{TaxType},
		#{MerchCessDate},
		#{OrginTransDate},
		#{OrginApprNo},
		#{OrginTransTime},
		#{OrginMerchName},
		#{OrginMerchBizNo},
		#{ntsdate},
		#{CardIni},
		#{insert_time},
		REGR_DH(),
		#{REGR_ID},
		#{REGR_NM}
		);
	</insert>

	<!-- 법인카드매입내역 삽입 -->
	<insert id="insertKwichubCardAcquire">
		<selectKey resultType="int" keyProperty="HUB_IF_KEY"
			order="BEFORE">
			SELECT LASTVAL(HUB_IF_SEQ);
		</selectKey>

		INSERT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.insertKwichubCardAcquire][]
		*/
		INTO KWICHUB_CARD_ACQUIRE
		( HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		Class,
		CardNo,
		ApprNo,
		CollNo,
		SlipNo,
		ApprDate,
		PurchDate,
		PurchTime,
		CurrCode,
		ApprTot,
		AcquTot,
		AcquExch,
		USDAcquTot,
		ConvFee,
		PurchTot,
		InstType,
		SettDate,
		Abroad,
		PurchYN,
		MerchBizNo,
		MerchNo,
		MerchName,
		Master,
		MerchTel,
		MerchZipcode,
		MerchAddr1,
		MerchAddr2,
		MccName,
		MccCode,
		PartAcquCancYN,
		NoneApprYN,
		ServTypeYN,
		OrginCollNo,
		DiscAmt,
		CurrAcquTot,
		AcquFee,
		ApprAmt,
		VAT,
		Tips,
		OriginMerchName,
		OriginMerchBizNo,
		taxtype,
		MerchCessDate,
		ntsdate,
		CardIni,
		insert_time,
		REGR_DH,
		REGR_ID,
		REGR_NM
		) VALUES (
		#{HUB_IF_KEY},
		#{SEQ_ROWNUM},
		#{COMPANY_ID},
		#{SEND_DATE},
		#{SEQ_NO},
		#{Class},
		#{CardNo},
		#{ApprNo},
		#{CollNo},
		#{SlipNo},
		#{ApprDate},
		#{PurchDate},
		#{PurchTime},
		#{CurrCode},
		#{ApprTot},
		#{AcquTot},
		#{AcquExch},
		#{USDAcquTot},
		#{ConvFee},
		#{PurchTot},
		#{InstType},
		#{SettDate},
		#{Abroad},
		#{PurchYN},
		#{MerchBizNo},
		#{MerchNo},
		#{MerchName},
		#{Master},
		#{MerchTel},
		#{MerchZipcode},
		#{MerchAddr1},
		#{MerchAddr2},
		#{MccName},
		#{MccCode},
		#{PartAcquCancYN},
		#{NoneApprYN},
		#{ServTypeYN},
		#{OrginCollNo},
		#{DiscAmt},
		#{CurrAcquTot},
		#{AcquFee},
		#{ApprAmt},
		#{VAT},
		#{Tips},
		#{OriginMerchName},
		#{OriginMerchBizNo},
		#{taxtype},
		#{MerchCessDate},
		#{ntsdate},
		#{CardIni},
		#{insert_time},
		REGR_DH(),
		#{REGR_ID},
		#{REGR_NM}
		);
	</insert>

	<!-- 법인카드매입내역 삽입 -->
	<insert id="insertKwichubCardBill">
		<selectKey resultType="int" keyProperty="HUB_IF_KEY"
			order="BEFORE">
			SELECT LASTVAL(HUB_IF_SEQ);
		</selectKey>

		INSERT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.insertKwichubCardBill][]
		*/
		INTO KWICHUB_CARD_BILL
		( HUB_IF_KEY,
		SEQ_ROWNUM,
		COMPANY_ID,
		SEND_DATE,
		SEQ_NO,
		Class,
		BilType,
		CorpBizNo,
		CorpNo,
		EstbNo,
		CardNo,
		ApprNo,
		SlipNo,
		CollNo,
		OrgnApprDate,
		BilWorkDate,
		BilAmt,
		BilFee,
		MembshipFee,
		AcquExch,
		USDAcquTot,
		ConvFee,
		BilTot,
		InstType,
		InstMonth,
		RestInstMonth,
		SettDate,
		MerchBizNo,
		MerchName,
		ServTypeYN,
		DiscAmt,
		EstbName,
		UserNo,
		UserName,
		OrgnApprTot,
		OrginTransTime,
		OriginMerchName,
		OriginMerchBizNo,
		taxtype,
		MerchCessDate,
		ntsdate,
		CardIni,
		insert_time,
		REGR_DH,
		REGR_ID,
		REGR_NM
		)
		VALUES (
		#{HUB_IF_KEY},
		#{SEQ_ROWNUM},
		#{COMPANY_ID},
		#{SEND_DATE},
		#{SEQ_NO},
		#{Class},
		#{BilType},
		#{CorpBizNo},
		#{CorpNo},
		#{EstbNo},
		#{CardNo},
		#{ApprNo},
		#{SlipNo},
		#{CollNo},
		#{OrgnApprDate},
		#{BilWorkDate},
		#{BilAmt},
		#{BilFee},
		#{MembshipFee},
		#{AcquExch},
		#{USDAcquTot},
		#{ConvFee},
		#{BilTot},
		#{InstType},
		#{InstMonth},
		#{RestInstMonth},
		#{SettDate},
		#{MerchBizNo},
		#{MerchName},
		#{ServTypeYN},
		#{DiscAmt},
		#{EstbName},
		#{UserNo},
		#{UserName},
		#{OrgnApprTot},
		#{OrginTransTime},
		#{OriginMerchName},
		#{OriginMerchBizNo},
		#{taxtype},
		#{MerchCessDate},
		#{ntsdate},
		#{CardIni},
		#{insert_time},
		REGR_DH(),
		#{REGR_ID},
		#{REGR_NM}
		);
	</insert>

	<!-- 홈텍스매출매입정보 삽입 -->
	<insert id="insertKwichubeTax">
		<selectKey resultType="int" keyProperty="HUB_IF_KEY"
			order="BEFORE">
			SELECT LASTVAL(HUB_IF_SEQ);
		</selectKey>

		INSERT /*
		[com.ec.eframework.mapper.ex.kwichub.kwichubServiceMapper.insertKwichubetax][]
		*/
		INTO KWICHUB_ETAX
		( HUB_IF_KEY,
		SEQ_ROWNUM,
		LISTGUBUN,
		WRITEDATE,
		APPNUMBER,
		PUBDATE,
		TRANSDATE,
		REGNUM1,
		REGNUM2,
		COMNAME,
		PRENAME,
		ADDRESS,
		REGNUM3,
		REGNUM4,
		COMNAME2,
		PRENAME2,
		ADDRESS2,
		SUM,
		SUPPLY,
		TAX,
		SORT,
		KIND,
		TYPE,
		BIGO,
		DIV1,
		EMAIL1,
		EMAIL2,
		EMAIL3,
		GIVEREGNUM,
		GIVEREGNAME,
		ITEMDATE,
		ITEMNAME,
		ITEMST,
		ITEMNUM,
		ITEMCOST,
		ITEMSUP,
		ITEMTAX,
		ITEMNOTE,
		REGR_DH,
		REGR_ID,
		REGR_NM
		) VALUES (
		#{HUB_IF_KEY},
		#{SEQ_ROWNUM},
		#{LISTGUBUN},
		#{WRITEDATE},
		#{APPNUMBER},
		#{PUBDATE},
		#{TRANSDATE},
		#{REGNUM1},
		#{REGNUM2},
		#{COMNAME},
		#{PRENAME},
		#{ADDRESS},
		#{REGNUM3},
		#{REGNUM4},
		#{COMNAME2},
		#{PRENAME2},
		#{ADDRESS2},
		#{SUM},
		#{SUPPLY},
		#{TAX},
		#{SORT},
		#{KIND},
		#{TYPE},
		#{BIGO},
		#{DIV},
		#{EMAIL1},
		#{EMAIL2},
		#{EMAIL3},
		#{GIVEREGNUM},
		#{GIVEREGNAME},
		#{ITEMDATE},
		#{ITEMNAME},
		#{ITEMST},
		#{ITEMNUM},
		#{ITEMCOST},
		#{ITEMSUP},
		#{ITEMTAX},
		#{ITEMNOTE},
		REGR_DH(),
		#{REGR_ID},
		#{REGR_NM}
		);
	</insert>

	<insert id="insertCardScrapBasic">
		<selectKey resultType="int" keyProperty="HUB_IF_KEY"
			order="BEFORE">
			SELECT LASTVAL(HUB_IF_SEQ);
		</selectKey>
		INSERT INTO KWICHUB_SCRAP_CARD_BASIC
		(HUB_IF_KEY,
		SEQ_ROWNUM,
		FCODE,
		LOGINID,
		CARDNAME,
		CARDNUM,
		CARDGUBUN,
		ISSUEDATE,
		VALIDATIONDATE,
		CARDISSUE,
		REGR_DH,
		REGR_ID,
		REGR_NM)
		VALUES(
		#{HUB_IF_KEY},
		#{SEQ_ROWNUM},
		#{FCODE},
		#{LOGINID},
		#{CARDNAME},
		#{CARDNUM},
		#{CARDGUBUN},
		#{ISSUEDATE},
		#{VALIDATIONDATE},
		#{CARDISSUE},
		REGR_DH(),
		#{REGR_ID},
		#{REGR_NM});
	</insert>

	<insert id="insertCardScrapAppr">
		<selectKey resultType="int" keyProperty="HUB_IF_KEY"
			order="BEFORE">
			SELECT LASTVAL(HUB_IF_SEQ);
		</selectKey>
		INSERT INTO
		KWICHUB_SCRAP_CARD_APPROVAL
		(HUB_IF_KEY,
		SEQ_ROWNUM,
		FCODE,
		LOGINID,
		USEDIS,
		APPNICKNAME,
		APPDATE,
		APPTIME,
		APPNO,
		APPGUBUN,
		APPQUOTA,
		APPAMT,
		APPFRANNAME,
		APPCARDDIS,
		APPTONGHWA,
		APPFRANREGNUM,
		APPFRANNUM,
		SUPPLYAMT,
		SURTAX,
		TIP,
		APPFRANTYPE,
		APPFRANTEL,
		APPFRANADDR,
		APPFRANSAJANG,
		APPCARDNUM,
		CHECKGUBUN,
		VRFDT,
		CARDISSUE,
		REGR_DH,
		REGR_ID,
		REGR_NM)
		VALUES(
		#{HUB_IF_KEY},
		#{SEQ_ROWNUM},
		#{FCODE},
		#{LOGINID},
		#{USEDIS},
		#{APPNICKNAME},
		#{APPDATE},
		#{APPTIME},
		#{APPNO},
		#{APPGUBUN},
		#{APPQUOTA},
		#{APPAMT},
		#{APPFRANNAME},
		#{APPCARDDIS},
		#{APPTONGHWA},
		#{APPFRANREGNUM},
		#{APPFRANNUM},
		#{SUPPLYAMT},
		#{SURTAX},
		#{TIP},
		#{APPFRANTYPE},
		#{APPFRANTEL},
		#{APPFRANADDR},
		#{APPFRANSAJANG},
		#{APPCARDNUM},
		#{CHECKGUBUN},
		#{VRFDT},
		#{CARDISSUE},
		REGR_DH(),
		#{REGR_ID},
		#{REGR_NM});
	</insert>

	<!-- HUB_IF_SEQ 증가 SELECT문 -->
	<select id="nextVal" resultType="Int">
		SELECT NEXTVAL(HUB_IF_SEQ);
	</select>
	<!-- <update id="updateCarDriving"> UPDATE EXPENSE_CAR_DRIVING_DIARY /* 
		[com.ec.eframework.mapper.ex.config.CarDrivingServiceMapper.updateCarDriving][] 
		*/ SET CAR_CD= #{CAR_CD}, DRIVER_EMP_NO= #{DRIVER_EMP_NO}, DRIVE_DT= #{DRIVE_DT}, 
		DISTANCE_TP= #{DISTANCE_TP}, ODOMETER_START= #{ODOMETER_START}, ODOMETER_END= 
		#{ODOMETER_END}, DISTANCE= #{DISTANCE}, COMMUTE_DISTANCE= #{COMMUTE_DISTANCE}, 
		BIZ_DISTANCE= #{BIZ_DISTANCE}, RMK= #{RMK}, MOD_DH= REGR_DH(), MOD_ID= #{g_userId} 
		where COMPANY_CODE = #{g_comCd} and DRIVING_NO = #{DRIVING_NO}; //파일 DELETE 
		FROM EXPENSE_FILE WHERE EXPENSE_NO = #{DRIVING_NO} AND REF = "START"; <if 
		test='ODOMETER_START_FILE != null and ODOMETER_START_FILE !=""'> INSERT INTO 
		EXPENSE_FILE(FILE_NO, COMPANY_CODE, EXPENSE_NO,REGR_ID,REGR_DH, REF) VALUES 
		(#{ODOMETER_START_FILE} , #{g_comCd} , #{DRIVING_NO}, #{g_userId} ,REGR_DH(),"START"); 
		</if> DELETE FROM EXPENSE_FILE WHERE EXPENSE_NO = #{DRIVING_NO} AND REF = 
		"END"; <if test='ODOMETER_END_FILE != null and ODOMETER_END_FILE !=""'> INSERT 
		INTO EXPENSE_FILE(FILE_NO, COMPANY_CODE, EXPENSE_NO,REGR_ID,REGR_DH, REF) 
		VALUES (#{ODOMETER_END_FILE} , #{g_comCd} ,#{DRIVING_NO}, #{g_userId} ,REGR_DH(), 
		"END"); </if> LOG call insertExpLog(#{g_userId},#{g_comCd},#{DRIVING_NO}, 
		'EXPENSE_CAR_DRIVING_DIARY', concat('차량운행기록[', #{DRIVING_NO} , ' ] 변경')); 
		</update> <delete id="deleteCarDriving"> UPDATE EXPENSE_CAR_DRIVING_DIARY 
		/* [com.ec.eframework.mapper.ex.config.CarDrivingServiceMapper.deleteCarDriving][] 
		*/ SET USE_YN = "0", DEL_DH = REGR_DH, DEL_ID = #{g_userId} where COMPANY_CODE 
		= #{g_comCd} and DRIVING_NO = #{DRIVING_NO}; UPDATE EXPENSE_FILE SET USE_YN 
		= '0' AND EXPENSE_NO = #{DRIVING_NO}; LOG call insertExpLog(#{g_userId},#{g_comCd},#{DRIVING_NO}, 
		'EXPENSE_CAR_DRIVING_DIARY', concat('차량운행기록[', #{DRIVING_NO} , ' ] 삭제')); 
		</delete> -->

</mapper>